.content {
  width: 90%;
  margin: 0 auto;
}

.title {
  padding-bottom: 20px;
  border-bottom: 1px solid #9a9a9a;
}

.intro {
  padding: 100px 0px 80px;
}

.description {
  max-width: 80%;
  display: block;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
}

.intro-img {
  background-image: url("/assets/vecteezy_a-flower-with-open-leaves-of-a-light-pink.png");
  background-size: 300px;
  background-repeat: no-repeat;
  background-position: 15% 75%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.intro-gif {
  width: 250px;
  display: block;
  padding: 80px;
  margin-left: auto;
  margin-right: auto;
}

.nyfw-text h1,
.nyfw-text h2,
.nyfw-text h3 {
  text-align: left;
}

@media screen and (max-width: 675px) {
  .intro-img {
    display: block;
  }

  .intro-img button {
    display: flex;
    text-decoration: none;
    justify-content: center;
    align-items: center;
  }

  .nyfw-text h1,
  .nyfw-text h2,
  .nyfw-text h3 {
    text-align: center;
  }
}

button {
  margin: 0 auto;
  text-align: center;
  border: none;
  max-width: 300px;
  box-shadow: none;
  background-color: black;
  padding: 15px;
  color: white;
}

button:hover {
  color: black !important;
}

.about-us {
  padding-top: 80px;
}


button a{
    color:white;
    text-decoration: none;
}

button a:hover{
    color: black;
}