<section class="content">
  <article class="intro" data-aos="fade-up" data-aos-duration="3000">
    <div class="title">Mercedes Santana</div>
    <h2>DESIGNER HAUTE COUTURE</h2>
  </article>
  <article class="intro-img" data-aos="fade-up" data-aos-duration="3000">
    <div>
    <img class="intro-gif" src="/assets/nyfw-gif.gif">
  </div>
  <div class="nyfw-text">
    <h1>Featured</h1>
    <h2>New York Fashion Week 2022</h2>
    <h3>"Grey's Collection"</h3>
    <button class='hvr-sweep-to-right'><a href="/designs">View My Designs</a></button>
  </div>
  </article>
  <article class="about-us" data-aos="fade-up" data-aos-duration="3000">
    <h1>About Us</h1>
    <p class="description">Mercedes Santana's goal is always to magnify femininity by working with the best materials,
      with very delicate embroidery and very exact pattern making.
      <br><br>
      Create collections full of fantasy that adapt to each type of woman while maintaining elegance and sophistication.
      The meticulous details, harmony and finishes of each garment are examined.
    </p>
    <hr>
  </article>
  <article class="design-types" data-aos="fade-up" data-aos-duration="3000">
    <app-design-types></app-design-types>
    <br><br>
    <app-schedule-btn></app-schedule-btn>
    <hr>
  </article>
  <article class="testimonials" data-aos="fade-up" data-aos-duration="3000">
    <app-testimonials></app-testimonials>
    <hr>
  </article>
  <article class="instagram" data-aos="fade-up" data-aos-duration="3000">
    <app-instagram></app-instagram>
  </article>
</section>