<section class="content">
  <article class="intro">
    <h1>Mercedes Santana</h1>
    <h2>DESIGNER HAUTE COUTURE</h2>
  </article>
  <hr>
  <article class="about-us">
    <h3>About Us</h3>
    <p>Mercedes Santana goal is always to magnify femininity by working with the best materials, with very delicate embroidery and very exact pattern making.
      <br>
      Create collections full of fantasy that adapt to each type of woman while maintaining elegance and sophistication. The meticulous details, harmony and finishes of each garment are examined.</p>
  </article>
  <hr>
  <article class="design-types">
    <app-design-types></app-design-types>
  </article>
</section>