.content{
    width: 80%;
    padding: 40px 0px;
    margin: 0 auto;
}
.btn-list{
    display: flex;
    margin: 0 auto;
    justify-content: center;
}
.primary-btn {
    text-align: center;
    border: none;
    max-width: 300px;
    box-shadow: none;
    background-color: black;
    padding: 15px;
    color: white;
    margin: 10px;
  }

  .primary-btn:hover{
    color:black !important;
  }
  
  .secondary-btn {
    text-align: center;
    border: none;
    max-width: 300px;
    box-shadow: none;
    background-color: white;
    padding: 15px;
    color: black;
    border: 1px solid black;
    margin: 10px;
  }