<div class="content" data-aos="fade-up" data-aos-duration="3000">
  <h1>About Me</h1>
  <h3>Business Owner at Mercedes Santana Design</h3>
  <p>
    Mercedes Santana is a fashion designer with more than 30 years of
    experience. She has always worked on wedding, gala and celebrity dresses,
    hers. She has worked alongside Dominican designers; Mercy Jacquez, Jorge
    Diez and Giannina Azzar where she was also an educator at the Mercy Jacquez
    Higher Institute. Her atelier Merfasf_ MercedesSantanaDesigner had its
    beginnings in the Dominican Republic, continuing in the United States.
    <br /><br />
    In her career, she has stood out as a Haute Couture Designer and it fits
    perfectly with her clients, thus making a difference in the way she
    dresses... her frequent phrase is "A well-dressed woman, she never goes
    unnoticed.
  </p>
  <div class="btn-list">
<button class="secondary-btn hvr-sweep-to-right" onclick="location.href='/designs';">Meet My Designs</button>
<button class="primary-btn hvr-sweep-to-right" onclick="location.href='/';">Schedule Appointment</button>
</div></div>

