.container {
    width: 80%;
    margin: 0 auto;
    padding: 40px 0px;
}


h1 {
    margin-bottom: 20px;
}

p{
    margin-bottom: 30px;
}

@media screen and (min-width:800px) {
    .row {
        display: inline;
        grid-column-start: 3;
        grid-column-end: span 6;
    }

}


@media screen and (min-width: 800px) {
    .grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
    }
}

i {
    width: 30px;
    padding-right: 5px;
}

label {
    display: block;
}

.form-group {
    width: 100%;
    margin: 10px 0px;
}

input,
textarea {
    padding: 10px 5px;
    width: 90%;
    background-color: #f4f4f4;
    border: 1px solid #dadada;
}

.primary-btn {
    text-align: center;
    border: none;
    max-width: 300px;
    box-shadow: none;
    background-color: black;
    padding: 15px;
    color: white;
}

.primary-btn:hover {
    color: black !important;
}

p {
    text-align: center;
}

.button-align {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}