.schedule-btn{
    text-align: center;
    border: none;
    box-shadow: none;
    background-color: black;
    padding: 15px;
    color: white;
}
.schedule-btn:hover{
    color:black !important;
}

.schedule{   
    display: flex;
    justify-content: center;
}
