.cards {
  padding: 10px;
  margin: 10px;
}

.main p{
    text-align: center;                
    margin-top: 20px;                         
}

.content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    justify-content: center;
}

.caption{
    text-align: center;
}

img{
    width:100%;
    height:300px;
    object-fit: cover;
    object-position: 15% 0%;
}

.info{
    margin-top: 20px;
}