<div class="main">
  <h1>You Deserve The Art of Perfection.</h1>
  <p>My priority is to create the dress of your dreams. I specialize in weddings gowns and gala dresses. Call me for an individual consultation!</p>
</div>
<div class="content">
<div *ngFor="let designType of designTypes">
  <div class="card">
    <div class="card-body">
      <div>
        <img src={{designType.img}} alt={{designType.alt}}>
      </div>
     <div class="info">
      <h3>{{designType.title}}</h3>
      <p class="caption" [innerHTML] = "designType.description"></p>
     </div>
    </div>
  </div>
</div>
</div>
