/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Lora&family=DM+Sans&display=swap');

.title{
    font-family: "Lora", serif;
    text-align: center;
    font-size: 60px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 800;
}

h1{
    font-family: "Lora", serif;
    text-align: center;
    font-size: 48px;
    margin-bottom: 0px;
    margin-top: 0px;
    font-weight: 300;
}

h2{
    font-family: "DM Sans", sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
}

h3{
    font-family: "Lora", serif;
    text-align: center;
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 600;
    line-height: 32px;
}

p, a{
    font-family: "DM Sans", sans-serif;
    text-align: left;
    font-size: 16px;
    font-weight: 300;
    line-height: 20px;
}

button{
    font-family: "DM Sans", sans-serif;
    text-transform: uppercase;
    text-align: left;
    font-size: 16px;
    font-weight: 500;
    line-height: 20px;
}

hr{
   margin: 40px 0px;
}