.footer{
    color:black;
    background-color: #FFDFE0;
    margin-top: 40px;
    padding: 30px 0px 20px;
    border-top: 1px solid black;
}

.primary-links{
    display:flex;
    padding: 10px 0px;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.primary-links .links a{
    text-transform: capitalize;
    font-weight: 600;
}

.links{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
}

.links a, .links p{
    padding: 10px 24px;
    color: black;
    text-decoration: none;
    margin: 0px;
    font-size: 0.8em;
}

i{
    width:30px;
    color: black;
    padding: 10px 18px;
    text-align: center;
}