<nav class="footer">
  <section class="nav-links">
    <div class="primary-links">
    <div class="links">
      <a class="hvr-grow" href="/">Home</a>
      <a class="hvr-grow" href="/about">About me</a>
      <a class="hvr-grow" href="/designs">Designs</a>
      <a class="hvr-grow" href="/contact-us">Contact us</a>  
    </div>
    <div>
        <a href="" target='_blank'><img alt="Facebook" src="/assets/facebook.png"></a>
        <a href="https://www.instagram.com/mercedessantana_merfash/" target='_blank'><img alt="Instagram" src="/assets/ig-logo.png"></a>
        <a href="" target='_blank'><img alt="Whatsapp" src="/assets/whatsapp.png"></a>
      </div> 
    </div>
    <div class="links">
      <a class="hvr-grow">Terms of Service</a>
      <a class="hvr-grow" href="/privacy-policy"> Privacy Policy</a>
      <p>© 2022 Merfash • All rights reserved</p>
    </div>
  </section>
</nav>
