.footer{
    color:white;
    background-color: black;
}

.links{
    display: flex;
    padding-top: 20px;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
}

.links a{
    padding: 5px 24px;
}