<nav class="footer">
  <section class="nav-links">
    <div class="primary-links">
    <div class="links">
      <a class="hvr-grow" href="/">Home</a>
      <a class="hvr-grow" href="/about">About me</a>
      <a class="hvr-grow" href="/designs">Designs</a>
      <a class="hvr-grow" href="/contact-us">Contact us</a>  
    </div>
    <div style="margin-right:30px">
        <a href="https://www.facebook.com/Merfash.FashionDesign" target='_blank'><i class="fa-brands fa-facebook-f"></i></a>
        <a href="https://www.instagram.com/mercedessantana_merfash/" target='_blank'><i class="fa-brands fa-instagram"></i></a>
        <a href="https://wa.me/12016554251" target='_blank'><i class="fa-brands fa-whatsapp"></i></a>
      </div> 
    </div>
    <div class="links">
      <a class="hvr-grow" href="/terms-of-service">Terms of Service</a>
      <a class="hvr-grow" href="/privacy-policy"> Privacy Policy</a>
      <p>© 2022 Merfash • All rights reserved</p>
    </div>
  </section>
</nav>
