.contact {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 1px solid #9A9A9A;
}

.links{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
    align-items: center;
}

.links a{
    color: black;
    text-decoration: none;
}