<nav class="top-nav">
  <section class="contact">
    <p><a class="contact-links hvr-grow" href="https://wa.me/12016554251"><i class="fa-brands fa-whatsapp"></i> 1 (201) 655 4251</a></p>
    <p><a class="contact-links hvr-grow" href="mailto:Merfash77@gmail.com"><i class="fa-regular fa-envelope"></i> Merfash77@gmail.com</a></p>
  </section>
  <section class="nav-links" (scroll)="onScroll()" [ngClass]="navbarfixed ? 'fixed' : 'notfixed'">
    <div class="hamburger">
      <div style="display:flex; margin-left: 20px;">
      <img class="logo" alt="Logo" src="assets/logo-img.png">
      <img class="logo" alt="Logo" src="assets/logo-text.jpg">
      <app-translate></app-translate>
      </div>
      <i class="fa-solid fa-bars" id="to-open" (click)="showLinks()"></i>
      <i class="fa-solid fa-x" id="to-close" (click)="showLinks()"></i>
    </div>
    <div id="links">
      <a class="main-nav hvr-grow" href="/">Home</a>
      <a class="main-nav hvr-grow" href="/about">About me</a>
      <a class="main-nav hvr-grow" href="/designs">Designs</a>
      <a class="main-nav hvr-grow" href="/contact-us">Contact us</a>
      <a class="main-nav hvr-sweep-to-right" target="_blank" href="https://calendly.com/mercedessantana">Schedule Appointment</a>
    </div>
  </section>
</nav>

